title=Thank you for contributing to Adblock Plus!
prevent_cookie_prompt=1
robots=none
template=minimal

<head>
  <link rel="stylesheet" href="/css/pages/confirmation-page.css">
  <link rel="stylesheet" href="/css/faq-accordion.css">
</head>

<header class="payment-confirmation-header section content container text-center">
    <div class="small-content-container">
        <img src="/img/success-icon.svg" width="95" height="95" alt="Success icon">
        <h1>{{ title Thank you for contributing to Adblock Plus! }}</h1>
        <h2>{{ subheading We appreciate your support. Contributions from people like you allow us to continue to create tools that make the internet a better place for all of us. }}</h2>
    </div>
</header>
<section class="container text-center content">
    <div class="small-content-container">
        <p>
          {{ p1 Your transaction has been processed, and a receipt will be emailed to you. If you used PayPal, you can log into your account to view transaction details. }}
        </p>
    </div>
</section>

<section class="container faq">
    <div class="row">
      <div class="content">
        <h2 >{{ faq-heading Frequently asked questions }}</h2>
      </div>

      <article class="column">
        <h3>{{ faq-receipt Will I get a receipt? }}</h3>
        <div>
          <div class="content">
            <p>{{ faq-receipt-1 We use PayPal and Stripe to process contributions securely and use their automated email system to send a confirmation and a receipt for your contribution to Adblock Plus. }}</p>
            <p>{{ faq-receipt-2 We recommend keeping the email with the receipt in case you would like a refund later as we need some basic information about the transaction so we can process your refund or cancel a recurring contribution. }}</p>
          <p>{{ faq-receipt-3 <strong>Please note:</strong> the transaction will be shown in your receipt as <strong>eyeo GmbH (Adblock Plus)</strong>, and in your account statement as <strong>Adblock Plus</strong> or <strong>ABP</strong>. }}</p>
           </div>
        </div>
      </article>

      <article class="column">
          <h3>{{ faq-refund I think this was a mistake! How can I resolve this? }}</h3>

          <div>
            <div class="content">
              <p>{{ faq-refund-1 Simply <strong>reach out to us via email at <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=", "textContent": "ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw=="}'>this address</a> so we can issue you a refund</strong>. We process refunds Monday through Friday. Refunds requested over the weekend will be processed first thing on Mondays. }}</p>
              <p>{{ faq-info-transactions Please include the following information so we can find your transaction: }}</p>
              <ul>
                <li>{{ faq-info-transactions-1 Date of transaction }}</li>
                <li>{{ faq-info-transactions-2 Amount (found on your email receipt from PayPal or Stripe) }}</li>
                <li>{{ faq-info-transactions-3 The email address you used for the transaction }}</li>
                <li>{{ faq-info-transactions-4 The transaction code }}</li>
              </ul>
              <p>{{ faq-info-transactions-5 <strong>Note:</strong> We will never ask you for sensitive information regarding your transaction (e.g. your full card number) and you should never provide this either. }}</p>
            </div>
          </div>
       </article>
       <article class="column">
           <h3>{{ faq-refund-policy What's your refund policy? }}</h3>
           <div>
             <div class="content">
               <p>{{ faq-refund-policy-1 We will refund your payment, for any reason, within 120 days of payment. Please write to us at <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=", "textContent": "ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw=="}'>this address</a> and we’ll issue you a full refund. Rest assured, you can continue to use Adblock Plus for free without losing access to any features! }}</p>
               <p>{{ faq-refund-policy-2 Regardless of whether you’ve donated with PayPal or a card, please include the following information in your email: }}</p>
               <ul>
                  <li>{{ faq-info-transactions-1 Date of transaction }}</li>
                  <li>{{ faq-info-transactions-2 Amount (found on your email receipt from PayPal or Stripe) }}</li>
                  <li>{{ faq-info-transactions-3 The email address you used for the transaction }}</li>
                  <li>{{ faq-info-transactions-4 The transaction code }}</li>
                </ul>
                <p>{{ faq-info-transactions-5 <strong>Note:</strong> We will never ask you for sensitive information regarding your transaction (e.g. your full card number) and you should never provide this either. }}</p>
             </div>
           </div>
       </article>
       <article class="column">
           <h3>{{ faq-cancellations How can I cancel my monthly subscription? }}</h3>
           <div>
             <div class="content">
               <h4>{{ faq-cancellations-paypal PayPal donations }}</h4>
               <p>{{ faq-cancellations-paypal-1 You can manage or cancel a PayPal subscription directly from your PayPal account. To cancel a recurring donation for Adblock Plus, please follow the step-by-step instructions in <a target="_blank" href="https://www.paypal.com/sm/smarthelp/article/how-do-i-cancel-a-recurring-payment,-subscription,-or-automatic-billing-agreement-i-have-with-a-merchant-faq1067">PayPal’s Help Center</a>. }}</p>

               <h4>{{ faq-cancellations-card Card donations }}</h4>
               <p>{{ faq-cancellations-card-1 If you’ve signed up for a recurring donation for Adblock Plus and would like to cancel it, just write us an email at <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=", "textContent": "ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw=="}'>this address</a>.}} {{ faq-info-transactions Please include the following information so we can find your transaction: }} </p>
               <ul>
                   <li>{{ faq-info-transactions-1 Date of transaction }}</li>
                   <li>{{ faq-info-transactions-2 Amount (found on your email receipt from PayPal or Stripe) }}</li>
                   <li>{{ faq-info-transactions-3 The email address you used for the transaction }}</li>
                   <li>{{ faq-info-transactions-4 The transaction code }}</li>
                 </ul>
                 <p>{{ faq-info-transactions-5 <strong>Note:</strong> We will never ask you for sensitive information regarding your transaction (e.g. your full card number) and you should never provide this either. }}</p>
             </div>
           </div>
        </article>
    </div>
</section>
<footer class="grey-bg">
    <div class="container content text-center">
        <div class="small-content-container">
            <h2>
              {{ further-questions Still have questions? }}
            </h2>
            <p>
             {{ further-questions-1 Questions about Adblock Plus? Reach out to us via email at <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=", "textContent": "ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw=="}'>this address</a> or send us a <a href="bugs#reporting">bug report</a>. You can also check out our <a target="_blank" href="https://help.eyeo.com/">Help Center</a>. }}
           </p>
           <p>
            {{ further-questions-2 You can see what we’re up to anytime by checking out <a href="https://adblockplus.org/blog/">our blog</a>. }}
           </p>
        </div>
    </div>
</footer>

<script src="/js/address-masking.js"></script>
<script src="/build/js/android-install-page.min.js"></script>

<script>
  accordion(document.querySelectorAll('.faq h3'));
</script>