<!DOCTYPE html>
<html <? include html-attributes ?>>

  <head>
    <? include meta/standard ?>
    <? include meta/social ?>
    <? include styles ?>
    <? include config ?>
    <? include anti-flicker ?>
    <? include polyfills ?>

    {% block head %}
      {{head|safe}}
    {% endblock %}
  </head>

  <body>
    <? include navbar ?>

    <div id="content" class="container content {{ localefile == "index" and page }}">
      {% if heading %}
        <h1>{{ heading | translate("heading", "heading") }}</h1>
      {% elif title and not noheading %}
        <h1>{{ title | translate("title") }}</h1>
      {% endif %}

      {% if not notoc %}
        {% macro toc(toclist) %}
          <ul>
            {% for item in toclist %}
              <li>
                <a href="#{{item.anchor}}">{{item.title|anchortext}}</a>
                {% if item.subitems %}{{toc(item.subitems)}}{% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endmacro %}

        {% set toclist = body|toclist %}
        {% if toclist %}
          <div id="toc-float" class="toc toc-list">
            <p>Index</p>
            {{toc(toclist)}}
          </div>
        {% endif %}
      {% endif %}

      {% block body %}
        <div class="toc-page-container">
          {{body|safe}}
        </div>
      {% endblock %}
    </div>

    <? include footer ?>
    <? include cookie/index ?>
    <? include analytics ?>
    <? include scripts ?>
  </body>
</html>
